.container {
  max-width: 93%;
  position: relative;
}

.eupath-workflows-table {
  width: 100%;
  margin-left: 1em;
}

.eupath-header {
  background-color:#eee;
  margin-bottom: 1em;
}

.eupath-header img {
  width: 180px;
}

.eupath-header .status-image {
  text-align:right;
}

#eupath-title {
  text-align:center;
}

#eupath-subtitle {
  text-align:center;
  font-size: 135%;
  margin-bottom: 2em;
}

#eupath-intro {
  font-size: 120%;
}

#eupath-intro i {
  margin-left: 1em;
}

.eupath-footer {
  background-color:#eee;
  padding: 1em;
  text-align: center; 
  position: relative;
  height: 8em;
}


span.globus-icon img {
  width: 30px;
}
